In [ ]:
# sum of all number from 1 to 100

sum=0
for i in range(0,101):
    sum+=i
    print(sum)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [2]:
# sum of all odd number
sum=0
for i in range(100):
    if i%2==1:
        sum+=i
print(sum)

2500

In [ ]:
# factorial of given number
n=10
factorial = 1
for i in range(1,n+1):
    factorial=factorial*i
    print(factorial)

1
2
6
24
120
720
5040
40320
362880
3628800

In [ ]:
# 1st 10 even number

for i in range(0,10):
    if i%2==0:
        sum=i
        print(sum)

0
2
4
6
8

In [ ]:
# maximum number in the list
list = [1,9,50,32,0,11]
print("maximum number in this list is:",max(list))

maximum number in this list is: 50

In [ ]:
# count vowels in given words
n = "FRUITS"
vowels = ["a","e","i","o","u"]
count=0
for character in n:
    if character in vowels:
        count += 1
        print(count)

In [ ]:
#square
for row in range(5):
    for col in range(5):
        if(row in (0,4)):
            print("*",end=" ")
        elif (row in (1,2,3,4)) and (col in (0,4)):
            print("*",end=" ")
        elif (row in (0,2)) and (col in (0,2)):
            print("A",end=" ")
        else:
            print(" ",end=" ")
    print()

* * * * *
*       *
*   A   *
*       *
* * * * *

In [ ]:
#triangle shape
n = 5
for i in range(n):
    for j in range(i+1):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

In [ ]:
#remove duplicate from list
list1 = [1,3,2,2,5,3,8,6]
print(str(list1))
list1 = (set(list1))
print(str(list1))

[1, 3, 2, 2, 5, 3, 8, 6]
{1, 2, 3, 5, 6, 8}